main{
    background-image: url(architect.jpg);
    background-size: cover;
}

.top-left{
    position:absolute;
    left:0;
    top:0;
    margin-left: 8px;
    padding: 10px;
    
}

#projects{


    margin: 40px 25px;
}

#about{

    margin: 40px 25px;
}

#paragraph{
    margin-left: 10px;
    margin-bottom: 50px;
}

#contact{
    margin: 40px 25px;
}
#pr1{
margin-left: 10px;
}

form{
    margin-left: 10px;
}

#footer
{
    height: 10vh;
}

#cs:hover{
    color: gray;
}

hr{
    opacity: 10%;
    margin-bottom: 20px;
    margin-left:10px ;
}